.MenuPizza.selected
    background-color: red

.MenuPizza
    background-color: #A47449
    display: flex
    align-items: center
    padding: 8px

    .MenuPizza-name
        font-size: 22px

    .MenuPizza-toggle-ingredients
        font-weight: bold
        margin-left: auto