.PizzaCart 
    font-size: 14px

    .PizzaCart-title
        font-weight: bold

    .PizzaCart-details
        display: flex
        font-style: italic

        .PizzaCart-Options
            display: flex